@page
@model Cinemo.Pages.Movie.CreateModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/Validation.js"></script>
  <script>
    $(document).ready(function () {
      $('#datetimepicker').flatpickr({
        enableTime: true,
        time_24hr: true,
        dateFormat: "H:i - d/m/Y",
        minDate: "today",
        locale: {
          firstDayOfWeek: 1
        }
      });

      /*Script tags*/
      $('#my-tags').taxonomy_jquery({
        hiddenFieldName: 'CreateDto.Tags'
      });


      // CKEditor
      ClassicEditor
        .create(document.querySelector('#content'))
        .catch(error => {
          console.error(error);
        });
    })
  </script>
}

@section Styles{
  <link rel="stylesheet" href="~/css/post.css">
}

<div class="container">
  <a href="/Admin/Movies/Index">
    <i class="fa fa-arrow-left mr-1"></i>Back to Movies
  </a>
  <h1 class="display-4">Create Movie</h1>

  <hr class="my-4">

  <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="form-group">
      <label class="h5" for="title-input">Title</label>

      <input asp-for="@Model.CreateDto.Title" required type="text" class="form-control" id="title-input" placeholder="Enter a title">

      <div class="invalid-feedback">
        Please provide a title.
      </div>
    </div>

    <div class="form-group">
      <label class="h5" for="category-select">Category</label>

      <select asp-for="@Model.CreateDto.CategoryId" asp-items="@Model.CategorySelectList" class="custom-select" id="category-select" required>
        <option selected="selected" value="">Please select</option>
      </select>

      <div class="invalid-feedback">
        Please select a category.
      </div>
    </div>

    <div class="form-group required">
      <label>Released</label>

      <input required
             id="datetimepicker"
             class="form-control col-3 bg-white"
             placeholder="Choose released..."
             type="text"
             asp-for="CreateDto.Released">
    </div>

    <div class="form-group">
      <label class="h5" for="runtime-select">Duration</label> <br>

      <input asp-for="@Model.CreateDto.Length" type="number" required class="form-control"></input> minutes

      <div class="invalid-feedback">
        Please provide the movie's duration.
      </div>
    </div>

    <div class="form-group">
      <label class="h5" for="content">Content</label>

      <textarea asp-for="@Model.CreateDto.Content" class="ck-content" id="content" cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
      <label class="h5">Image</label>

      <input type="file" class="form-control-file" asp-for="@Model.CreateDto.Upload" />
    </div>

    <div class="form-group">
      <label class="h5">Tags</label>

      <input asp-for="@Model.CreateDto.Tags" id="tags" type="text" hidden>

      <ul id="my-tags" class="tag-cloud list-inline row"></ul>
    </div>

    <button class="btn btn-primary" type="submit">Submit post</button>

  </form>
</div>
