@page
@model Cinemo.Pages.Movie.UpdateModel
@inject Cinemo.Service.FileService FileService
@{
  Layout = "_AdminLayout";
}

@section Scripts{
  <script src="~/js/taxonomy.min.js"></script>
  <script src="~/js/Validation.js"></script>
}

@section Styles{
  <link rel="stylesheet" href="~/css/post.css">
}

<div class="container">
  <a href="/Admin/Movies">
    <i class="fas fa-angle-left mr-1"></i>Back to Movies
  </a>

  <h1 class="display-4">Update Movie</h1>

  <hr class="my-4">

  <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    <input value="@Model.OldMovie.Id" asp-for="@Model.UpdateDto.Id"  hidden>

    <div class="form-group">
      <label class="h5" for="title-input">Title</label>

      <input value="@Model.OldMovie.Title" asp-for="@Model.UpdateDto.Title" required type="text" class="form-control" id="title-input" placeholder="Enter a title">

      <div class="invalid-feedback">
        Please provide a title.
      </div>
    </div>

    <div class="form-group">
      <label class="h5" for="category-select">Category</label>

      <select asp-items="@Model.Categories" asp-for="@Model.UpdateDto.CategoryId" class="custom-select" id="category-select" required>
        
      </select>

      <div class="invalid-feedback">
        Please select a category.
      </div>
    </div>

    <div class="form-group">
      <label class="h5" for="runtime-select">Length</label> <br>

      <input value="@Model.OldMovie.Length" asp-for="@Model.UpdateDto.Length" type="number" required></input> minutes
    </div>

    <div class="form-group">
      <label class="h5" for="content">Content</label>

      <textarea asp-for="@Model.UpdateDto.Content" class="ck-content" id="content" cols="30" rows="10">
        @Model.OldMovie.Content
      </textarea>
    </div>

    <div class="form-group">
      <label class="h5">Image</label>
      <input type="file" asp-for="@Model.UpdateDto.Upload" />
      
    </div>
    
    @if(Model.OldMovie.Img != null){
      <div class="form-group">
        <img src="@FileService.GetPath(Model.OldMovie.Img)" width="300" />
      </div>
    }
    
    <div class="form-group">
      <label class="h5">Tags</label>

      <ul id="my-tags" class="tag-cloud list-inline row">
        @if(Model.OldMovie.Tags != null)
        @foreach (string tag in Model.OldMovie.Tags.Split(',').ToList())
        {    
          <li class="btn btn-primary ml-3 tag tag-active">
            @tag
            <a href="#" class="tag-undo" data-tag-slug="@tag">X</a>
          </li>
          <input hidden name="UpdateDto.Tags" value="@tag">
        }
      </ul>
    </div>

    <button class="btn btn-primary" type="submit">Submit post</button>

  </form>
</div>
<script>
 
  /*Script tags*/
  $('#my-tags').taxonomy_jquery({
    hiddenFieldName: 'UpdateDto.Tags'
  });


  // CKEditor
  ClassicEditor
    .create(document.querySelector('#content'))
    .then(editor => {
      editor.data.set('@Html.Raw(Model.OldMovie.Content)')
    })
    .catch(error => {
      console.error(error);
    });

</script>