@page
@model Cinemo.Pages.Admin.Room.IndexModel

@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/filter.js"></script>
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Delete room?",
        message: "Are you sure you want to delete this room?",
      });
    }
  </script>
}
<style>
  .form-control:focus[type=text] {
    border-bottom: 1px solid #4dd0e1;
    border-top: none ;
    border-right: none;
    border-left: none; 
    border-radius: 0px !important;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
 .form-control[type=text]{
    border-bottom: 1;
    border-top: none ;
    border-right: none;
    border-left: none; 
    border-radius: 0px !important;
  }
}
</style>

 

<div class="container">
  <div class="mb-3 d-flex">
    <div class="mr-auto p-2">
      <div class="d-inline-block display-4 mr-3">Rooms</div>
      <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Admin/Rooms/Create">
        <i class="fas fa-plus"></i>
        Create Room
      </a> 
    </div>
    <div class="p-2">
      <input class="form-control mt-3" 
            id="myInput" 
            type="text" placeholder="Search"
            aria-label="Search">
    </div>
  </div>

  <div class="cinemo-datatable">
    <table class="table">
      <thead>
        <tr>
          <th><div>Name</div></th>
          <th><div>Theater</div></th>
          <th><div>Formats</div></th>
          <th><div>NumCol</div></th>
          <th><div>NumRow</div></th>
          <th><div>Total</div></th>
          <th><div>Edit</div></th>
          <th><div>Delete</div></th>
        </tr>
      </thead>
      <tbody id="myTable">
        @foreach (var r in Model.Rooms) {
          <tr>
            <td>@r.Name</td>
            <td>@r.Theater.Name</td>
            <td>@r.Formats</td>
            <td>@r.NumCol</td>
            <td>@r.NumRow</td>
            <td>@r.Total</td>
            <td>
              <a class="btn btn-round btn-primary btn-sm" href="/Admin/Rooms/Update?id=@r.Id">
                <i class="fas fa-pen"></i>
              </a>
            </td>

            <td>
              <form id="delete-room" method="POST" asp-page-handler="Delete">
                <input type="hidden" name="id" value="@r.Id">

                <button type="button" class="btn btn-round btn-danger btn-sm"
                        onclick="handleDelete(this.form)">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

