@page
@model Cinemo.Pages.Admin.Room.UpdateModel

@section Scripts{
  <script src="~/js/Validation.js"></script>
}

<div class="row no-gutters justify-content-center align-self-center m-auto">
  <div style="width: 400px">
    <div class="display-4 text-center">
      Change room
    </div>

    <hr class="my-4">
    <form method="POST" class="needs-validation" novalidate>
      <input value="@Model.OldRoom.Id" asp-for="@Model.Room.Id" hidden> 
      <div class="form-group row mx-0">
        <label class="col-sm-3 col-form-label mr-sm-1 pl-0">
          New name:
        </label>
        <input class="form-control col" value="@Model.OldRoom.Name" asp-for="@Model.Room.Name" required>
        <div class="invalid-feedback">
          Room name is required !
        </div>

      </div>
<div class="form-group">
      <label class="h5" for="theater-select">Theater</label>

      <select asp-for="@Model.Room.TheaterId" asp-items="@Model.theaters" class="custom-select" id="theater-select" required>
        <option selected="selected" value="">Please select</option>
      </select>

      <div class="invalid-feedback">
        Please select a theater.
      </div>
    </div>
      <div class="form-group row mx-0">
        <label class="col-sm-3 col-form-label mr-sm-1 pl-0">
          Formats:
        </label>
        <input class="form-control col" value="@Model.OldRoom.Formats" asp-for="@Model.Room.Formats" required>
        <div class="invalid-feedback">
          Formats is required !
        </div>
      </div>

      <div class="form-group row mx-0">
        <label for="new-name" class="col-sm-3 col-form-label mr-sm-1 pl-0">
          Column number:
        </label>
        <input class="form-control col" value="@Model.OldRoom.NumCol" asp-for="@Model.Room.NumCol" required>
        <div class="invalid-feedback">
          Column number is required !
        </div>
      </div>

      <div class="form-group row mx-0">
        <label for="new-name" class="col-sm-3 col-form-label mr-sm-1 pl-0">
          Row number:
        </label>
        <input class="form-control col" value="@Model.OldRoom.NumRow" asp-for="@Model.Room.NumRow" required>
        <div class="invalid-feedback">
          Row number is required !
        </div>
      </div>

      @if (@Model.ErrorMessage != null) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="border-radius: 10px;">
          <strong>Error:</strong> @Model.ErrorMessage
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
      }
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
      </div>

      <a href="/Admin/Rooms">
        <i class="fa fa-arrow-left mr-1"></i>Back to Rooms
      </a>
    </form>
  </div>
</div>