@page
@model Cinemo.Pages.Admin.TicketType.UpdateModel

<div class="row no-gutters justify-content-center align-self-center m-auto">
  <div style="width: 500px">
    <a href="/Admin/TicketTypes/Index">
      <i class="fa fa-arrow-left mr-1"></i>Back to Ticket Types
    </a>

    <div class="display-4 text-center">
      Change ticket type
    </div>

    <hr class="my-4">

    <form method="POST" class="needs-validation">
      <input value="@Model.OldTicketType.Id" asp-for="@Model.TicketType.Id"  hidden>

      <div class="form-group row mx-0">
        <label class="col-sm-3 col-form-label mr-sm-0 pl-3">
          New name
        </label>
        <div class="input-group col">
          <select class="form-control" value='@Model.OldTicketType.Name' asp-for="TicketType.Name">
            @{
              foreach (Cinemo.Models.TicketType.Type type in Enum.GetValues(typeof(Cinemo.Models.TicketType.Type))) {
                <option asp-value="type">@type</option>
              }
            }
          </select>
        </div>
      </div>

      <div class="form-group row mx-0">
        <label class="col-sm-3 col-form-label mr-sm-0 pl-3">Price</label>
        <div class="input-group col-6">
          <input asp-for="TicketType.Price"
                class="form-control price-input"
                placeholder="0"
                value="@Model.OldTicketType.Price"
                type="text">
          <div class="input-group-append">
            <span class="input-group-text">₫</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
      </div>
    </form>
  </div>
</div>