@page
@model BookTicketModel

@section Styles {
  <link rel="stylesheet" href="~/css/book-ticket.css" />
}

@section Scripts {
  <script src="~/js/book-ticket.js"></script>
}

<div class="row">
  <div class="p-0 col-12 col-md-9">
    <div class="card">
      <h5 class="card-header">
        Choose seats
      </h5>

      <div class="card-body">
        <div class="room d-flex flex-column align-items-center">
          <div class="d-flex mb-4">
            <div class="d-flex mr-4 align-items-center">
              <div class="seat seat-available-legend mr-1"></div>
              Available
            </div>

            <div class="d-flex mr-4 align-items-center">
              <div class="seat seat-chosen-legend mr-1"></div>
              Choosing
            </div>

            <div class="d-flex align-items-center">
              <div class="seat seat-sold-legend mr-1"></div>
              Sold
            </div>
          </div>

          <div class="screen pb-1 mb-5 text-center w-50">
            Screen
          </div>

          <div>
            @for (var row = 1; row <= Model.Showtime.Room.NumRow; row++) {
              var rowChar = (char)(row + 64);

              <div class="d-flex mb-2">
                <div class="seat mr-3">
                  @rowChar
                </div>

                @for (var col = 1; col <= Model.Showtime.Room.NumCol; col++) {
                  string thisSeat = @rowChar.ToString() + @col.ToString();

                  var thisSeatIsSold = Model.BookedTickets.FirstOrDefault(ticket => ticket.Seat == thisSeat) != null;

                  var seatClass = thisSeatIsSold ? "seat-sold" : "seat-available has-tooltip";

                  <div class="mr-1 seat @seatClass"
                       data-seat="@thisSeat"></div>
                }

                <div class="seat ml-3">
                  @rowChar
                </div>
              </div>
            }

            <div class="d-flex mt-3 justify-content-center">
              @for (var col = 1; col <= Model.Showtime.Room.NumCol; col++) {
                <div class="seat mr-1">
                  @col
                </div>
              }
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="col-12   p-0     mt-5
              col-md-3 pl-md-3 mt-md-0">
    <div class="card sticky-top">
      <h5 class="card-header">Checkout</h5>

      <div class="card-body">
        <div class="d-flex justify-content-center mb-1">
          <img class="info-poster" src="~/uploads/@Model.Showtime.Movie.Img" />
        </div>

        <h6 class="text-center text-uppercase mb-4">Avengers: Endgame</h6>

        <div class="ticket-info mb-4">
          <div class="info-line">
            <div class="info-label">
              Theater:
            </div>

            <div class="info-content">
              @Model.Showtime.Theater.Name
            </div>
          </div>

          <div class="info-line">
            <div class="info-label">
              Room:
            </div>

            <div class="info-content">
              @Model.Showtime.Room.Name
            </div>
          </div>

          <div class="info-line">
            <div class="info-label">
              Date:
            </div>

            <div class="info-content">
              @Model.Showtime.Time.ToString("dd/MM/yyyy")
            </div>
          </div>

          <div class="info-line">
            <div class="info-label">
              Time:
            </div>

            <div class="info-content">
              @Model.Showtime.Time.ToString("HH:mm")
            </div>
          </div>

          <div class="info-line">
            <div class="info-label">
              Type:
            </div>

            <div class="info-content">
              @Model.Showtime.FormatString - @Model.Showtime.TypeString
            </div>
          </div>

          <div class="info-line">
            <div class="info-label">
              Seats:
            </div>

            <div class="info-content info-seats"></div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <span id="proceed-btn-wrapper" class="d-inline-block" title="Please choose a ticket and a seat first">
            <button id="proceed-btn" class="btn btn-primary" disabled>
              Proceed to payment
            </button>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="choose-ticket-popover" hidden>
  <div>This is your div content</div>
</div>