@page
@model Cinemo.Pages.MovieModel

@using System.Linq;
@using System.Web;

@{
  var groupedShowtimes =
  from showtime in Model.ShowTimes
  group showtime by showtime.Theater.Name into theaterGroup
  from formatAndTypeGroup in
    (from showtime in theaterGroup
     group showtime by showtime.FormatString + " - " + showtime.TypeString)
  group formatAndTypeGroup by theaterGroup.Key;
}

@section Scripts {
  <script>
    $(function () {
      let parsedQuery = new URLSearchParams(window.location.search);

      function reloadWithQuery() {
        window.location.search = parsedQuery.toString();
      }

      $('#select-theater').val(parsedQuery.get('theater') || '-1');

      $('#datepicker').flatpickr({
        dateFormat: "d-m-Y", // vd 09-12-2020
        defaultDate: parsedQuery.get('date') ?? "today",
        minDate: "today",
        locale: {
          firstDayOfWeek: 1
        }
      });

      $('#datepicker').on('change', function (e) {
        parsedQuery.set('date', this.value);

        reloadWithQuery();
      })

      $('#select-theater').on('change', function (e) {
        if (this.value === '-1') {
          parsedQuery.delete('theater');
        }
        else {
          parsedQuery.set('theater', this.value);
        }

        reloadWithQuery();
      })
    })
  </script>
}

<div class="row mb-5">
  <img class="col-3 p-0" src="~/uploads/@Model.Movie.Img" />

  <div class="col">
    <h3 class="mb-3">
      @Model.Movie.Title
    </h3>

    <div class="mb-3">
      <i class="far fa-clock fa-fw"></i>

      @Model.Movie.Length minutes
    </div>

    <div class="mb-3">
      <i class="far fa-tag fa-fw"></i>

      @Model.Movie.Category.Name
    </div>

    @Html.Raw(HttpUtility.HtmlDecode(Model.Movie.Content))
  </div>
</div>

<div>
  <h4 class="mb-4">SHOW TIMES</h4>

  <div class="row mb-4">
    <select id="select-theater"
            class="selectpicker p-0 col-12 mr-0 mb-3 col-sm-4 mb-sm-0 mr-sm-3"
            data-style="custom-select"
            data-size="5"
            data-live-search="true"
            data-live-search-normalize="true"
            data-live-search-placeholder="Search...">
      <option value="-1">
        All theaters
      </option>

      @foreach (var theater in Model.Theaters) {
        <option value="@theater.Id">
          @theater.Name
        </option>
      }
    </select>

    <input required
           id="datepicker"
           class="form-control col-12 col-sm-4 bg-white"
           placeholder="Choose time & date..."
           type="text">
  </div>

  @foreach (var theaterGroup in groupedShowtimes) {
    <div class="card mb-4">
      <h5 class="card-header">
        @theaterGroup.Key
      </h5>

      <div class="card-body">
        @foreach (var formatAndTypeGroup in theaterGroup) {
          <div class="row">
            <div class="col-3 p-0 mr-3">
              @formatAndTypeGroup.Key
            </div>

            <div class="col p-0">
              @foreach (var showtime in formatAndTypeGroup) {
                <a href="/BookTicket?showtimeId=@(showtime.Id)" class="btn btn-outline-primary btn-sm mb-2 mr-1">@showtime.Time.ToString("HH:mm")</a>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
