@page
@model Cinemo.Pages.Admin.Ticket.IndexModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Cancel ticket?",
        message: "Are you sure you want to cancel this ticket?",
      });
    }
  </script>
}
@section Styles {
  <link rel="stylesheet" href="~/css/search.css">
}

<div class="container">
  <div class="mb-3 d-flex">
    <div class="mr-auto p-2">
      <div class="d-inline-block display-4 mr-3">Tickets</div>
      <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Admin/Tickets/Create">
        <i class="fas fa-plus"></i>
        Create Ticket
      </a> 
    </div>
    <div class="p-2">
      <input class="form-control mt-3 pl-0" 
            id="myInput" 
            type="text" placeholder="Search"
            aria-label="Search">
    </div>
  </div>

  <div class="cinemo-datatable">
    <table class="table">
      <thead>
        <tr>
          <th><div>Time</div></th>
          <th><div>Movie</div></th>
          <th><div>Room</div></th>
          <th><div>Theater</div></th>
          <th><div>Type</div></th>
          <th><div>Seat</div></th>
          <th><div>Cancel</div></th>
        </tr>
      </thead>

      <tbody id="myTable">
        @foreach (var ticket in Model.Tickets)
        {
          <tr>
            <td>@ticket.ShowTime.Time</td>
            <td>@ticket.ShowTime.Movie.Title</td>
            <td>@ticket.ShowTime.Room.Name</td>
            <td>@ticket.ShowTime.Room.Theater.Name</td>
            <td>@ticket.TicketType.Name</td>
            <td>@ticket.Seat</td>
            <td>
              <form id="cancel-ticket" method="POST" asp-page-handler="Delete">
                <input type="hidden" name="id" value="@ticket.Id">

                <button type="button" class="btn btn-round btn-danger btn-sm"
                  onclick="handleDelete(this.form)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>