@page
@model Cinemo.Pages.Admin.ShowTime.CreateModel

@using Cinemo.Models;

@{
  Layout = "_AdminLayout";

  var types = new[] {
    new {
      label = "Subtitles",
      value = "subtitles"
    },
    new {
      label = "Dubbed",
      value = "dubbed"
    },
    new {
      label = "Vietnamese",
      value = "vietnamese"
    }
  };
}

@section Scripts {
  <script src="~/js/Validation.js"></script>

  <script>
    $(document).ready(function () {
      $('#datetimepicker').flatpickr({
        enableTime: true,
        time_24hr: true,
        dateFormat: "H:i - d/m/Y",
        minDate: "today",
        locale: {
          firstDayOfWeek: 1
        }
      });
    })

  </script>
}

<div class="container">
  <a href="/Admin/ShowTimes">
    <i class="fas fa-angle-left mr-1"></i>Back to Show Times
  </a>

  <div class="display-4">
    Create Show Time
  </div>

  <hr class="my-4">

  <form class="needs-validation" method="POST">
    <partial name="Shared/_ErrorAlert" model="@Model.ErrorMessage" />

    <div class="form-group required">
      <label>Theater</label>

      <select required
              class="selectpicker d-block col-6 p-0"
              title="Choose theater"
              data-style="custom-select"
              data-size="5"
              data-live-search="true"
              data-live-search-normalize="true"
              data-live-search-placeholder="Search...">
        <option value="theater-1">Cinemo 3 Tháng 2</option>
        <option value="theater-2">Cinemo Cách Mạng Tháng 8</option>
        <option value="theater-3">Cinemo Thành Thái</option>
      </select>
    </div>

    <div class="form-group required">
      <label>Movie</label>

      <select required
              class="selectpicker d-block col-6 p-0"
              title="Choose movie"
              data-style="custom-select"
              data-size="5"
              data-live-search="true"
              data-live-search-normalize="true"
              data-live-search-placeholder="Search...">
        <option value="movie-1">Movie 1</option>
        <option value="movie-2">Movie 2</option>
        <option value="movie-3">Movie 3</option>
      </select>
    </div>

    <div class="form-group">
      <label>Extra price</label>

      <div class="input-group">
        <input class="form-control col-3 price-input"
               placeholder="0"
               value="0"
               type="text">

        <div class="input-group-append">
          <span class="input-group-text">₫</span>
        </div>
      </div>
    </div>

    <div class="form-group required">
      <label>Type</label>

      <br />

      @foreach (var type in types) {
        var id = Guid.NewGuid().ToString("N");

        <div class="custom-control custom-radio custom-control-inline">
          <input required
                 type="radio"
                 value="@type.value"
                 id="@id"
                 class="custom-control-input"
                 name="type">

          <label class="custom-control-label" for="@id">@type.label</label>
        </div>
      }
    </div>

    <div class="form-group required">
      <label>Time & Date</label>

      <input required
             id="datetimepicker"
             class="form-control col-3 bg-white"
             placeholder="Choose time & date..."
             type="text">
    </div>

    <div class="form-group required">
      <label>Format</label>

      <br />

      @foreach (string name in Enum.GetNames(typeof(Room.Format))) {
        <div class="custom-control custom-radio custom-control-inline">
          <input required
                 type="radio"
                 value="@name"
                 id="@name"
                 class="custom-control-input"
                 name="format">

          <label class="custom-control-label"
                 for="@name">
            @name.Substring(1)
          </label>
        </div>
      }
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="Submit" id="">
        Create show time
      </button>
    </div>
  </form>
</div>
