@page
@model Cinemo.Pages.Admin.ShowTime.CreateModel

@using Cinemo.Models;

@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script src="~/js/Validation.js"></script>

  <script>
    $(document).ready(function () {
      $('#datetimepicker').flatpickr({
        enableTime: true,
        time_24hr: true,
        dateFormat: "H:i - d/m/Y",
        minDate: "today",
        locale: {
          firstDayOfWeek: 1
        }
      });
    })
  </script>
}

<div class="container">
  <a href="/Admin/ShowTimes">
    <i class="fas fa-angle-left mr-1"></i>Back to Show Times
  </a>

  <div class="display-4">
    Create Show Time
  </div>

  <hr class="my-4">

  <form class="needs-validation" method="POST">
    <partial name="Shared/_ErrorAlert" model="@Model.ErrorMessage" />

    <div class="form-group required">
      <label for="room-select">Room</label>
      <select asp-for="@Model.CreateDto.RoomId" required
              asp-items="@Model.RoomSelectList"
              id="room-select"
              class="selectpicker d-block col-6 p-0"
              title="Choose room"
              data-style="custom-select"
              data-size="5"
              data-live-search="true"
              data-live-search-normalize="true"
              data-live-search-placeholder="Search...">
      </select>
    </div>

    <div class="form-group required">
      <label for="movie-select">Movie</label>
      <select asp-for="@Model.CreateDto.MovieId" required
              asp-items="@Model.MovieSelectList"
              id="movie-select"
              class="selectpicker d-block col-6 p-0"
              title="Choose movie"
              data-style="custom-select"
              data-size="5"
              data-live-search="true"
              data-live-search-normalize="true"
              data-live-search-placeholder="Search...">
      </select>
    </div>

    <div class="form-group">
      <label>Extra price</label>
      <div class="input-group col-3 p-0">
        <input class="form-control price-input-label" type="text"
               value="0" />

        <input class="price-input-value" hidden
               type="number"
               asp-for="CreateDto.ExtraPrice">

        <div class="input-group-append">
          <span class="input-group-text">₫</span>
        </div>
      </div>
    </div>

    <div class="form-group required">
      <label>Time & Date</label>

      <input required
             id="datetimepicker"
             class="form-control col-3 bg-white"
             placeholder="Choose time & date..."
             type="text"
             asp-for="CreateDto.Time">
    </div>

    <div class="form-group required">
      <label>Type</label>

      @foreach (var type in Enum.GetValues(typeof(Cinemo.Models.ShowTime.ShowType))) {
        var id = Guid.NewGuid().ToString("N");

        <br />

        <div class="custom-control custom-radio custom-control-inline">
          <input required type="radio" value="@type" id="@id" class="custom-control-input" asp-for="CreateDto.Type">
          <label class="custom-control-label" for="@id">
            @ShowTime.TypeNames[type.ToString()]
          </label>
        </div>
      }
    </div>

    <div class="form-group required">
      <label>Format</label>

      @foreach (string format in Enum.GetNames(typeof(ShowTime.FormatEnum))) {
        var id = Guid.NewGuid().ToString("N");

        <br />

        <div class="custom-control custom-radio custom-control-inline">
          <input required type="radio" value="@format" id="@id" class="custom-control-input" asp-for="CreateDto.Format">
          <label class="custom-control-label" for="@id">@format.Substring(1)</label>
        </div>
      }
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="Submit" id="">
        Create show time
      </button>
    </div>
  </form>
</div>

