@page
@model Cinemo.Pages.Admin.ShowTime.IndexModel
@{
  Layout = "_AdminLayout";
}

@section Scripts {
  <script>
    function handleDelete(form) {
      confirmDelete({
        form: form,
        title: "Delete show time?",
        message: "Are you sure you want to delete this show time?",
      });
    }
  </script>
}

<div class="container">
  <div class="mb-3">
    <div class="d-inline-block display-4 mr-3">Show Times</div>
    <a class="btn btn-success btn-sm align-text-bottom ml-auto" href="/Admin/ShowTimes/Create">
      <i class="fas fa-plus"></i>
      Create Show Time
    </a>
  </div>
  <div class="cinemo-datatable">
    <table class="table">
      <thead>
        <tr>
          <th><div>Theater</div></th>
          <th><div>Room</div></th>
          <th><div>Movie</div></th>
          <th><div>Extra Price</div></th>
          <th><div>Type</div></th>
          <th><div>Format</div></th>
          <th><div>Time</div></th>
          <th><div>Status</div></th>
          <th><div>Change Status</div></th>
          <th><div>Edit</div></th>
          <th><div>Delete</div></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var st in Model.showTimes)
          {
        <tr>
          <td>@st.Theater.Name</td>
          <td>@st.Room.Name</td>
          <td>@st.Movie.Title</td>
          <td>@st.ExtraPrice $</td>
          <td>@st.Type</td>
          <td>@st.Format</td>
          <td>@st.Time</td>
          <td>@st.Status</td>
          <td>

            <form id="delete-room" method="POST" asp-page-handler="ChangeStatus">
              <input type="hidden" name="id" value="@st.Id">
              <button class="btn btn-primary btn-sm" type="submit">
              @if (st.Status == Cinemo.Models.ShowTime.ShowState.DRAFT || st.Status == Cinemo.Models.ShowTime.ShowState.PUBLISH){
               
                @((Cinemo.Models.ShowTime.ShowState)(st.Status+1))
              }
              else{
                @((Cinemo.Models.ShowTime.ShowState)(st.Status-1))
              }
              </button>
            </form>

          </td>
          @if (st.Status == Cinemo.Models.ShowTime.ShowState.DRAFT){
            <td>
              <a class="btn btn-round btn-primary btn-sm" href="/Admin/ShowTimes/Update?id=@st.Id">
                <i class="fas fa-pen"></i>
              </a>
            </td>
          }
          else{
            <td>
            <button class="btn btn-round btn-primary btn-sm" disabled>
              <i class="fas fa-pen"></i>
            </button>
          </td>

          }

          <td>
            <form id="delete-room" method="POST" asp-page-handler="Delete">
              <input type="hidden" name="id" value="@st.Id">
              @if (st.Status == Cinemo.Models.ShowTime.ShowState.DRAFT){
                  <button type="button" class="btn btn-round btn-danger btn-sm"
                      onclick="handleDelete(this.form)">
                <i class="fas fa-trash"></i>
              </button>
              }
              else{
                <button type="button" class="btn btn-round btn-danger btn-sm" disabled>
                <i class="fas fa-trash"></i>
              </button>
              }
            </form>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

